[user]
	email = smaye81@gmail.com
	name = Steve Ayers
[push]
	default = simple
[alias]
	lg = log --graph --pretty=format:'%C(bold red)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
